<div class="card">
  <img class="image" src="./../../../assets/ticket-512.png">
  <h3 class="title">{{cardData.title}}</h3>
  <div class="flip">
    <div class="date">{{cardData.first_seen | date}}</div>
    <h3 class="flip-title">{{cardData.title}}</h3>
    <!-- <h4 class="flip-location">{{cardData.entities[0].formatted_address}}</h4> -->

    <p class="who-was">Who was there?</p>
    <div class="who-else">
      <div class="peron"></div>
      <div class="peron"></div>
      <div class="peron"></div>
      <h2>+3</h2>
    </div>
  </div>
</div>